# Build
# -----

build/*

## Objects
*.o

## Libraries
*.a
*.so

## Executables
*.out


# Development
# -----------

## CI generated
deploy/pkg/patches/**


# Miscellaneous
# -------------

## Editors/explorers
.vscode/
.DS_Store

## Notebooks
.ipynb_checkpoints

## Storage
storage/*


# Exclusions
# ----------


# Exceptions
# ----------

## Directories: .gitkeep (empty directories)
!build/bin/
build/bin/*
!build/bin/.gitkeep

!deploy/pkg/patches/.gitkeep

!storage/wisdom/
storage/wisdom/*
!storage/wisdom/.gitkeep
